<%= render partial: "shared/navigation" %>
<h1>Welcome <i><%= @user.uname %> 👋 </i> </h1>
<div class="course-bought">
    <h2 class="second-header">Course Bought</h2>
    <table class="course-bought-table">
        <tr>
            <th>Course Name</th>
            <th>Course Published By</th>
            <th>Bought On</th>
            <th>Valid Till</th>
            <th>Click To Learn</th>
        </tr>
        <% if @course_enrollment.count != 0 %>
            <% (@course_enrollment).each do |i|%>
                <tr> 
                    <td><%= Course.find(i.course_id).cname %></td>
                    <% u_id = CoursePublish.find_by(course_id: i.course_id).user_id %>
                    <td><%= User.find(u_id).uname %></td>
                    <td><%= Transaction.find_by(user_id: i.user_id, course_id: i.course_id).created_at %></td>
                    <td><%= i.valid_till %></td>
                    <td><%= button_to "Click Here", syllabus_path, method: :get, params: { course_id: i.course_id }, class: "button"  %></td>
                </tr>
            <% end %>
        <% else %>
           <tr>
            <td colspan="5">
                <div class="nothing">
                    <h4>You haven't bought any course till now.</h4>
                    <p>To buy a course visit <%= link_to "Buy Course", new_transaction_path %></p>
                </div>
            </td>
           </tr>
        <% end %>
    </table>
</div>
<div class="course-publish">
    <h2 class="second-header">Course Published</h2>
    <table class="course-publish-table">
        <tr>
            <th>Course Name</th>
            <th>Course Rating</th>
            <th>Enrollment Count</th>
            <th>Edit Syllabus</th>
            <th>Delete Course</th>
        </tr>
        
        <% if @course_publishe.count != 0  %>
            <% (@course_publishe).each do |i|%>
                <tr> 
                    <td><%= Course.find(i.course_id).cname %></td>
                    <td><%= Course.find(i.course_id).rating %></td>
                    <td><%= CourseEnrollment.where(course_id: i.course_id).count %></td>
                    <td><%= button_to "Edit Syllabus", syllabus_path, method: :get, params: { course_id: i.course_id }, class: "button"  %></td>
                    <td><%= button_to "Delete Course", course_path(i.course_id), method: :delete, class: "button"  %></td>
                </tr>
            <% end %>
        <% else %>
           <tr>
            <td colspan="5">
                <div class="nothing">
                    <h4>You haven't published any course till now.</h4>
                    <p>To buy a course visit <%= link_to "Publish Course",new_course_path %></p>
                </div>
            </td>
           </tr>
        <% end %>
    </table>
</div>